<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../behaviors/article-url-helpers.html">
<link rel="import" href="./article-main-menu-style.html">

<dom-module id="article-main-menu">
    <style include="article-main-menu-css"></style>
    <template>
        <ul role="menu">
            <li><a href="[[_homeURL()]]">/</a></li>
            <li><a href="[[_articleListURL()]]">/articles</a></li>
            <li><a href="[[_aboutURL()]]">/about</a></li>
        </ul>
    </template>
    <script>
        Polymer({
            is: 'article-main-menu',

            behaviors: [
                ArticleBehaviors.UrlHelpers
            ]
        })
    </script>
</dom-module>
