<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../components/article-user-card/article-user-card.html">
<link rel="import" href="../../components/article-main-menu/article-main-menu.html">
<link rel="import" href="./say-what-navigation-style.html">

<dom-module id="say-what-navigation">
    <style include="say-what-navigation-css"></style>
    <template>

        <article-main-menu></article-main-menu>

        <template is="dom-if" if="[[!user]]">
            <a href="#" on-click="_requestLogin">Log in</a>
        </template>

        <template is="dom-if" if="[[user]]">
            <article-user-card user="[[user]]"></article-user-card>
        </template>
    </template>
    <script>
        Polymer({
            is: 'say-what-navigation',

            properties: {
                user: {
                    type: Boolean,
                    value: false
                }
            },

            /**
             * Action handler.
             *
             * When login action is requested, this handler relays that to
             * a higher component.
             *
             * @param {Event} event
             * @private
             */
            _requestLogin: function (event) {
                event.preventDefault();
                this.fire('user-login');
            },

            /**
             * Action handler.
             *
             * When logout action is requested, this handler relays that to
             * a higher component.
             *
             * @param {Event} event
             * @private
             */
            _requestLogout: function (event) {
                event.preventDefault();
                this.fire('user-logout');
            }
        })
    </script>
</dom-module>
