<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../behaviors/article-behaviors.html">

<dom-module id="say-what-navigation">
    <template>
        <nav>
            <ul>
                <li><a href="[[_homeURL()]]">/</a></li>
                <li><a href="[[_articleListURL()]]">/articles</a></li>
                <li><a href="[[_aboutURL()]]">/about</a></li>
            </ul>

            <template is="dom-if" if="[[!user]]">
                <a href="#" on-click="_requestLogin">Log in</a>
            </template>

            <template is="dom-if" if="[[user]]">
                <img src="[[user.photoURL]]" />
                <p>[[user.displayName]]</p>
                <a href="#" on-click="_requestLogout">log out</a>
            </template>

        </nav>
    </template>
    <script>
        Polymer({
            is: 'say-what-navigation',

            behaviors: [
                ArticleBehaviors.UrlHelpers
            ],

            properties: {
                user: {
                    type: Boolean,
                    value: false
                }
            },

            _requestLogin: function (event) {
                event.preventDefault();
                this.fire('user-login');
            },

            _requestLogout: function (event) {
                event.preventDefault();
                this.fire('user-logout');
            }
        })
    </script>
</dom-module>
