
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #00acc1;
}

.index-main__presentation {
    width: 50%;
}

.index-main__information {
    width: 50%;
}
